<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salom</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsa possimus quo blanditiis alias facere, vel consequuntur fuga distinctio excepturi aliquid in aliquam earum labore a. Earum natus recusandae dolore minus doloribus non quis magnam cumque praesentium exercitationem, architecto enim odio est corporis error quo ab eaque, possimus sed nihil esse? Deleniti quidem molestiae omnis quos doloremque ducimus laudantium, beatae dolorum aliquid illum aut quaerat fugiat et dignissimos rerum earum error! Facere, eius. Maxime accusamus sed autem, non consequuntur inventore amet laborum enim voluptates exercitationem doloribus reiciendis vero atque eaque. Incidunt nam nulla, labore officiis exercitationem quibusdam cupiditate illo corrupti.</h1>
    
</body>
</html>